.box-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        right: -100%;
        padding: 40px;
        padding-top: 90px;
        background-color: white;
        flex-direction: column;
        gap: 25px;
        width: 315px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
        z-index: 3;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;

        &.show {
            right: 0;
        }

        .close-menu {
            position: fixed;
            cursor: pointer;
            top: 0;
            width: 230px;
            background: white;
            text-align: right;
            padding: 1.5rem 0;
            
            .MuiSvgIcon-root {
                border-radius: 50px;
                width: 2rem;
                height: 2rem;
                padding: 0.3rem;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -o-transition: .5s;

                &:hover {
                    background-color: hsla(0,0%,0%,.05);
                    backdrop-filter: blur(16px);
                }
            }
        }
    }
    
    .menu-backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        backdrop-filter: blur(4px);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
}